---
import TeamCard from './TeamCard.astro';
import { kebabToTitleCase } from '../lib/utils';

interface Props {
  heading: string;
  people: Record<string, any>[]
}

const getName = (src: string) => {
  const path = src.split('?')[0].split('/');
  const name = path[path.length - 1].split('.')[0].split('_')[1];
  return kebabToTitleCase(name);
}

const getPid = (src: string) => {
  const path = src.split('?')[0].split('/');
  const pid = path[path.length - 1].split('.')[0].split("_")[1];
  return pid;
}

const {heading, people} = Astro.props
---

<section class="flex flex-col gap-8 items-center">
  <h3 class="text-4xl">{heading}</h3>
  <div class="flex gap-8 flex-wrap justify-center">
    {
      people.map(p => {
      const pid = getPid(p.default.src)
      const name = getName(p.default.src)
      return <a href={`/team/${pid}`}><TeamCard image={p} name={name} pid={pid}/></a>})
    }
  </div>
</section>
